<!DOCTYPE html>
<html>
  <head>
    <title>New Order</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="~/css/orderNew.css">
    <meta charset='utf-8'>
  </head>
  <body>
    <div class="page-style">
      <form action="/vendors/@Model.Id/orders" method="post">
        <h3>Title</h3>
        <input id="title" name="title">
        <h3>Description</h3>
        <input id="description" name="description">
        <h3>Price</h3>
        <input id="price" name="price">
        <h3>Date</h3>
        <input id="date" name="date">
        <br>
        <button type="submit">Add Order</button>
      </form>
      <form action="/vendors/@Model.Id/orders" method="get">
        <button id="back-btn" type="submit">Go back</button>
      </form>
    </div>
  </body>
</html>